<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>Sign Up</h1>
  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label "Last Name"%><br>
    <%= f.text_field :l_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label "Address Line 2 (Optional)" %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label "Phone (optional)" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "City (optional)" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "State (optional)" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label "Zip (optional)" %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label "Organization (optional)" %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
