<h2>All Events</h2>

<% if @events != nil %>
	<% @events.each do |event| %>
		<li>
			<a href="<%= event_path(event) %>" title="<%= event.name %>"><%= event.name %></a>
			<%= event.date %>
			<p>Description: <%= event.description %></p>
		</li> 

	<% end %>
<% else %>
	<p>No events scheduled.</p>
	
<% end %>