<H1>Event Manager</H1>
<b>
<h2>Event Manager allows you to track attendance and manage guest lists for your important events.</h2>
<p>Try it out today for free!</p>
</b>

<% if current_user != nil %>
	<p>Logged in as: <%= current_user.email %></p>
	<%= link_to "logout", logout_path %>
<% else %>
	<%= link_to "login", login_path %>
<% end %>
<%= render "all_events" %>
<%= render "all_users" %>