<h1><%= @event.name %></h1><br />

<% if @creator %>
<h2>You are the creator of this event</h2>
<% else %>
<% end %>
<br />


<%= flash[:notice] %>

<h2>Event Description:</h2>
<p><b><%= @event.description %></b></p>

<h2>Event Date:</h2>
<p><b><%= @event.date %></b></p>

<h2>Start Time:</h2>
<p><b><%= @event.start_time %></b></p>

<h2>End Time:</h2>
<p><b><%= @event.end_time %></b></p>

<h2>Private Event?</h2>
<p><b>
<% if @event.private %>
  Yes
  <% else %>
  No
  <% end %>
</b></p>

<h2>Max Capacity:</h2>
<p><b><%= @event.event_cap %></b></p>

<h2>Total People Registered For Event:</h2>
<p><b><%= event_count.count %></b></p>

<h2>Number of Remaining Attendee Openings:</h2>
<p><b><%= remaining_slots %></b></p>

<h2>Attendees:</h2>
<p><b><%= get_attendees.count %></b></p>

<% if @creator || session[:admin] = true %>
	<%= render 'attendees' %>
<% end %>


<%= link_to "Register For This Event", :controller => :events, :action => :register %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', home_path %>
